{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>About</title>
      <link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css">

  </head>
  <body>

<div id="about">
<h1>About</h1>

<p>
Welcome to Das Zusammenbuch, a dashboard created for the German-English
translator so that they might be spared some fraction of
the agony involved in opening endless browser tabs for each of their
many dictionary needs. View the results of multiple dictionaries with a single
search! Enlist or cull dictionaries on a whim
via the settings page! Display results in your preferred order!
</p>

<p>
As of now there are no immediate plans to expand this tool to other languages,
but there will be additional English and German-language dictionaries coming
soon. Candidates include DWDS, Thesaurus.com, TheFreeDictionary.com,
Wiktionary (.en and .de), the Grimm Wörterbuch, and perhaps even the OED.
</p>

<p>
Feel free to use the form below to share your thoughts, suggestions, bugs, or
recommend a dictionary you might like added.
</p>

</div>

<form method="post">
  {% csrf_token %}
  {{ form|crispy }}

  <div class="form-actions">
    <button type="submit">Send</button>
  </div>
</form>
  </body>
  </html>
