#thesaurus-com-id .css-ew2um3 {
	background-color: #F3F3F3;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	min-height: 100vh;
}

#thesaurus-com-id .css-18ew0w6 {
	-webkit-position: sticky;
	position: sticky;
	top: 0;
	-webkit-transition: -webkit-transform 0.4s ease;
	transition: transform 0.4s ease;
	width: 100%;
	z-index: 2000000001;
}

#thesaurus-com-id .css-vob5rs {
	color: #1A1A1A;
	font-weight: bold;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 0.8;
	margin-bottom: 4px;
}

#thesaurus-com-id .css-1oxnttq {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

#thesaurus-com-id .css-2h897a {
	display: block;
	margin: 0 auto;
	padding: 0;
}

@media (min-width: 1225px) {
	#thesaurus-com-id .css-2h897a {
		width: 1200px;
	}
}

#thesaurus-com-id .css-fwjwsq {
	color: #767676;
	margin: 0 auto;
	max-width: 850px;
	padding: 8px 10px;
	width: 100%;
}

@media (min-width: 1088px) {
	#thesaurus-com-id .css-fwjwsq {
		margin: 0;
		padding-left: 25px;
	}
}

#thesaurus-com-id .css-1k7ngax {
	color: #00248B;
	cursor: pointer;
	-webkit-text-decoration: none;
	text-decoration: none;
	color: inherit;
}

#thesaurus-com-id .css-1k7ngax:hover {
	-webkit-text-decoration: underline;
	text-decoration: underline;
}

#thesaurus-com-id .css-ye8wy1 {
	color: #00248B;
	cursor: pointer;
	-webkit-text-decoration: none;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 16px;
	text-transform: uppercase;
	background-color: #F44725;
	border-radius: 3px 3px 0 0;
	color: #FFFFFF;
	font-size: 14px;
	padding: 8px;
	position: fixed;
	right: 0px;
	top: 300px;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	transform-origin: bottom right;
	z-index: 100;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-ye8wy1 {
		top: 140px;
	}
}

#thesaurus-com-id .css-1ruyqcz {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin: 20px 0;
	z-index: auto;
	margin-top: 0px;
	margin-bottom: 16px;
}

#thesaurus-com-id .css-1tmuahu {
	bottom: 0;
	height: 0;
	left: 50%;
	max-width: 1316px;
	position: fixed;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	z-index: 100;
}

#thesaurus-com-id .css-xrs3uu {
	bottom: 24px;
	margin-left: 16px;
	position: absolute;
}

#thesaurus-com-id .css-1stodt3 {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #F44725;
	border-radius: 50%;
	border-width: 0;
	color: #FFFFFF;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 48px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
	width: 48px;
	z-index: 2;
}

#thesaurus-com-id .css-1stodt3:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

#thesaurus-com-id .css-z4btf2 {
	display: inline-block;
	font-family: dictionary-fonticon;
	font-size: 24px;
	height: 24px;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	vertical-align: text-bottom;
	width: 24px;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

#thesaurus-com-id .css-z4btf2:before {
	content: '\e908';
}

#thesaurus-com-id .css-3dex3x {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-bottom: 15px;
	position: relative;
}

@media only screen and (min-width: 1088px) {
	#thesaurus-com-id .css-3dex3x {
		-webkit-align-items: unset;
		-webkit-box-align: unset;
		-ms-flex-align: unset;
		align-items: unset;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		padding: 0 15px 15px 15px;
	}
}

#thesaurus-com-id .css-19763d6 {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	max-width: 850px;
	padding: 0 10px;
	width: 100%;
}

#thesaurus-com-id .css-bjn8wh {
	position: relative;
}

#thesaurus-com-id .css-vw3jp5 {
	-webkit-align-items: flex-start;
	-webkit-box-align: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: 8px;
	width: 100%;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-vw3jp5 {
		-webkit-align-items: flex-end;
		-webkit-box-align: flex-end;
		-ms-flex-align: flex-end;
		align-items: flex-end;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

#thesaurus-com-id .css-1phjj2a {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#thesaurus-com-id .css-1x68g3a {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: flex-start;
	align-self: flex-start;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#thesaurus-com-id .css-1fyt8gq {
	color: #1A1A1A;
	display: inline-block;
	font-size: 36px;
	font-weight: bold;
	margin: 0 8px 0 0;
	word-break: break-all;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-1fyt8gq {
		font-size: 48px;
	}
}

#thesaurus-com-id .css-jipda8 {
	margin-right: 0px;
}

#thesaurus-com-id .css-125k9na {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	margin-right: 8px;
}

#thesaurus-com-id .css-z3zatq {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	margin-right: 8px;
	position: relative;
}

#thesaurus-com-id .css-z3zatq:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

#thesaurus-com-id .css-z3zatq:focus {
	outline: 4px solid #0046BE;
}

#thesaurus-com-id .css-z3zatq:focus:not(:hover):not(:active):not([disabled])::before {
	opacity: 1;
}

#thesaurus-com-id .css-5e54wk {
	display: inline-block;
	font-family: dictionary-fonticon;
	font-size: 24px;
	height: 24px;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	vertical-align: text-bottom;
	width: 24px;
	border: none;
	color: #1A1A1A;
	font-size: 33px;
	height: 33px;
	margin-bottom: 2px;
	width: 33px;
}

#thesaurus-com-id .css-5e54wk:before {
	content: '\e803';
}

#thesaurus-com-id .css-1xq8258 {
	display: inline-block;
	font-family: dictionary-fonticon;
	font-size: 24px;
	height: 24px;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	vertical-align: text-bottom;
	width: 24px;
	border: none;
	color: #1A1A1A;
	font-size: 32px;
	height: 32px;
	margin-bottom: 2px;
	width: 32px;
}

#thesaurus-com-id .css-1xq8258:before {
	content: '\e924';
}

#thesaurus-com-id .css-1kcb5kj {
	color: #00248B;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
}

#thesaurus-com-id .css-1kcb5kj:focus,
#thesaurus-com-id .css-1kcb5kj:hover,
#thesaurus-com-id .css-1kcb5kj:visited,
#thesaurus-com-id .css-1kcb5kj:link,
#thesaurus-com-id .css-1kcb5kj:active {
	-webkit-text-decoration: none;
	text-decoration: none;
}

#thesaurus-com-id .css-cthfds {
	height: 30px;
	overflow: hidden;
	position: relative;
}

#thesaurus-com-id .css-i0f9xe {
	left: 0px;
	position: absolute;
	top: 0;
	-webkit-transition: left 0s;
	transition: left 0s;
	white-space: nowrap;
}

#thesaurus-com-id .css-kgfkmr {
	background-color: #FFFFFF;
	display: inline-block;
	line-height: 17px;
	margin: 0 4px 0 0;
	position: relative;
}

@media (max-width: 500px) {
	#thesaurus-com-id .css-kgfkmr {
		margin: 0 8px 0 0;
	}
}

#thesaurus-com-id .css-kgfkmr::before {
	content: '';
	height: 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 0;
}

#thesaurus-com-id .css-sc11zf {
	color: #1A1A1A;
	cursor: pointer;
	display: inline-block;
	padding: 7px 10px 6px 16px;
	-webkit-text-decoration: none;
	text-decoration: none;
}

#thesaurus-com-id .css-sc11zf:hover strong {
	color: #4A4A4A;
}

#thesaurus-com-id .css-1t1gxdo {
	color: #767676;
	font-size: 12px;
	line-height: 13px;
	margin-right: 4px;
}

@media (max-width: 768px) {
	#thesaurus-com-id .css-1t1gxdo {
		font-size: 16px;
	}
}

#thesaurus-com-id .css-16lv1yi {
	background-color: #FFFFFF;
	margin-bottom: 16px;
	padding: 24px;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-16lv1yi {
		padding: 40px 48px;
	}
}

#thesaurus-com-id .css-u8ruvu {
	color: #1A1A1A;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 16px;
	margin-top: 0;
	text-transform: uppercase;
}

#thesaurus-com-id .css-44bdmm {
	position: relative;
}

#thesaurus-com-id .css-44bdmm::before {
	border-bottom: 3px solid #F44725;
	content: '';
	left: 0;
	position: absolute;
	top: 90%;
	width: 100%;
	z-index: 0;
}

#thesaurus-com-id .css-burnx3 {
	font-style: italic;
	position: relative;
	text-transform: lowercase;
	z-index: 1;
}

#thesaurus-com-id .css-i3pbo {
	margin-bottom: 24px;
}

#thesaurus-com-id .css-1kg1yv8 {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	-webkit-text-decoration: none;
	text-decoration: none;
	border-radius: 100px;
	font-size: 16px;
	font-weight: inherit;
	line-height: 1;
	text-align: left;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	position: relative;
	background-color: #F44725;
	color: #FFFFFF;
	padding: 8px 16px;
}

#thesaurus-com-id .css-1kg1yv8:before {
	border: 4px solid #0046BE;
	border-radius: 100px;
	bottom: -8px;
	content: ' ';
	left: -8px;
	opacity: 0;
	position: absolute;
	right: -8px;
	top: -8px;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

#thesaurus-com-id .css-1kg1yv8:focus {
	outline: none;
}

#thesaurus-com-id .css-1kg1yv8:focus:not(:hover):not(:active):not([disabled]):before {
	opacity: 1;
}

#thesaurus-com-id .css-1kg1yv8:hover:not([disabled]) {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

#thesaurus-com-id .css-1kg1yv8:active:not([disabled]) {
	background-color: #F44725;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#thesaurus-com-id .css-1kg1yv8[disabled] {
	background-color: #E1E1E1;
	color: #767676;
	cursor: not-allowed;
}

#thesaurus-com-id .css-1kg1yv8[loading] {
	color: #E1E1E1;
}

#thesaurus-com-id .css-1h7hpe5 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin: 20px 0;
	z-index: auto;
}

#thesaurus-com-id .css-1oxkhm5 {
	-webkit-align-items: flex-start;
	-webkit-box-align: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	min-height: 250px;
}

#thesaurus-com-id .css-1jz0997 {
	background-color: #FFFFFF;
	border: 12px solid #FF9100;
	margin-bottom: 24px;
	padding: 24px;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-1jz0997 {
		max-height: 230px;
		padding: 40px 48px;
	}
}

#thesaurus-com-id .css-362lrb {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-362lrb {
		display: none;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		visibility: hidden;
	}
}

#thesaurus-com-id .css-apwkeg {
	color: #1A1A1A;
	font-size: 32px;
	margin-bottom: 16px;
	margin-top: 0;
}

#thesaurus-com-id .css-u87e74 {
	height: auto;
	margin-bottom: 16px;
	width: 100%;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-u87e74 {
		display: block;
		height: 131px;
		margin-bottom: 0;
		width: auto;
	}
}

#thesaurus-com-id .css-5ino4p {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	-webkit-text-decoration: none;
	text-decoration: none;
	border-radius: 100px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
	width: 100%;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	position: relative;
	background-color: #F44725;
	color: #FFFFFF;
	padding: 16px 40px;
}

#thesaurus-com-id .css-5ino4p:before {
	border: 4px solid #0046BE;
	border-radius: 100px;
	bottom: -8px;
	content: ' ';
	left: -8px;
	opacity: 0;
	position: absolute;
	right: -8px;
	top: -8px;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

#thesaurus-com-id .css-5ino4p:focus {
	outline: none;
}

#thesaurus-com-id .css-5ino4p:focus:not(:hover):not(:active):not([disabled]):before {
	opacity: 1;
}

#thesaurus-com-id .css-5ino4p:hover:not([disabled]) {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

#thesaurus-com-id .css-5ino4p:active:not([disabled]) {
	background-color: #E24021;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#thesaurus-com-id .css-5ino4p[disabled] {
	background-color: #E1E1E1;
	color: #767676;
	cursor: not-allowed;
}

#thesaurus-com-id .css-5ino4p[loading] {
	color: #E1E1E1;
}

#thesaurus-com-id .css-1eeuvnq {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	display: none;
	visibility: hidden;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-1eeuvnq {
		display: none;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		visibility: hidden;
	}
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-1eeuvnq {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		visibility: visible;
	}
}

#thesaurus-com-id .css-1gtk57n {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin-right: 32px;
}

#thesaurus-com-id .css-17xy8c5 {
	margin-bottom: 16px;
	padding-top: 20px;
	position: relative;
}

@media (min-width: 480px) {
	#thesaurus-com-id .css-17xy8c5 {
		margin-bottom: 24px;
	}
}

#thesaurus-com-id .css-1j9rq4h {
	background: #F44725;
	border-radius: 50%;
	color: #FFFFFF;
	height: 40px;
	left: 24px;
	padding-left: 8px;
	padding-top: 8px;
	position: absolute;
	top: 0;
	width: 40px;
	z-index: 99;
}

#thesaurus-com-id .css-1qt14co {
	display: inline-block;
	font-family: dictionary-fonticon;
	font-size: 24px;
	height: 24px;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	vertical-align: text-bottom;
	width: 24px;
}

#thesaurus-com-id .css-1qt14co:before {
	content: '\e912';
}

#thesaurus-com-id .css-1p7e146 {
	color: #1A1A1A;
	font-weight: bold;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.15;
	margin-bottom: 8px;
}

#thesaurus-com-id .css-u2dcbh {
	color: #4A4A4A;
	margin: 0 0 0.83em 0;
}

#thesaurus-com-id .css-6xix1i {
	font-size: 16px;
}

#thesaurus-com-id .css-67w0qk {
	border: 1px solid #E1E1E1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 16px;
	margin-bottom: 8px;
	padding: 16px;
}

@media (min-width: 480px) {
	#thesaurus-com-id .css-67w0qk {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		padding: 8px;
	}
}

#thesaurus-com-id .css-12843jg {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	border-radius: 100px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	position: relative;
	background-color: #F44725;
	color: #FFFFFF;
	padding: 8px 16px;
}

#thesaurus-com-id .css-12843jg:before {
	border: 4px solid #0046BE;
	border-radius: 100px;
	bottom: -8px;
	content: ' ';
	left: -8px;
	opacity: 0;
	position: absolute;
	right: -8px;
	top: -8px;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

#thesaurus-com-id .css-12843jg:focus {
	outline: none;
}

#thesaurus-com-id .css-12843jg:focus:not(:hover):not(:active):not([disabled]):before {
	opacity: 1;
}

#thesaurus-com-id .css-12843jg:hover:not([disabled]) {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

#thesaurus-com-id .css-12843jg:active:not([disabled]) {
	background-color: #F44725;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#thesaurus-com-id .css-12843jg[disabled] {
	background-color: #E1E1E1;
	color: #767676;
	cursor: not-allowed;
}

#thesaurus-com-id .css-12843jg[loading] {
	color: #E1E1E1;
}

#thesaurus-com-id .css-ww67bw {
	color: #4A4A4A;
}

#thesaurus-com-id .css-tlu5y3 {
	color: #1A1A1A;
}

#thesaurus-com-id .css-u9og2b {
	color: #1A1A1A;
	font-weight: bold;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.15;
	margin-bottom: 4px;
	margin-bottom: 16px;
}

#thesaurus-com-id .css-14pjlq2 {
	color: #1A1A1A;
	font-weight: bold;
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 0.8;
	margin-bottom: 4px;
	line-height: 1.15;
	margin-bottom: 24px;
}

#thesaurus-com-id .css-doyeql {
	padding-top: 20px;
	position: relative;
}

#thesaurus-com-id .css-cqchvy {
	display: inline-block;
	font-family: dictionary-fonticon;
	font-size: 24px;
	height: 24px;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	vertical-align: text-bottom;
	width: 24px;
}

#thesaurus-com-id .css-cqchvy:before {
	content: '\e91f';
}

#thesaurus-com-id .css-8dw6qc {
	background-color: #FFFFFF;
	padding: 24px;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-8dw6qc {
		padding: 40px 48px;
	}
}

#thesaurus-com-id .css-1m7xl5f {
	line-height: 1.5;
}

#thesaurus-com-id .css-c9o2 {
	color: #767676;
	font-size: 10px;
}

#thesaurus-com-id .css-1ro4jg5 {
	height: 17px;
	margin: 0 5px 0 5px;
	width: 1px;
}

#thesaurus-com-id .css-1ro4jg5::before {
	content: '|';
}

#thesaurus-com-id .css-183328w {
	margin-bottom: 8px;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-183328w {
		margin-bottom: 24px;
	}
}

#thesaurus-com-id .css-a2xp9o {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #FFFFFF;
	border: 12px solid #F44725;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 24px;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-a2xp9o {
		padding: 40px;
	}
}

#thesaurus-com-id .css-nvkgpl {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 12px;
}

#thesaurus-com-id .css-19idom {
	margin-bottom: 8px;
}

#thesaurus-com-id .css-dct2ka {
	color: #00248B;
	cursor: pointer;
	-webkit-text-decoration: none;
	text-decoration: none;
	color: inherit;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

#thesaurus-com-id .css-dct2ka:hover {
	-webkit-text-decoration: underline;
	text-decoration: underline;
}

#thesaurus-com-id .css-dct2ka:hover {
	-webkit-text-decoration: none;
	text-decoration: none;
}

#thesaurus-com-id .css-162vkfi {
	color: #1A1A1A;
	font-size: 20px;
	text-align: center;
}

#thesaurus-com-id .css-mpzcay {
	color: #F44725;
	font-style: italic;
	font-weight: bold;
}

#thesaurus-com-id .css-1upilqn {
	margin-bottom: 12px;
}

#thesaurus-com-id .css-19fp85x {
	height: 22px;
	width: 18px;
}

#thesaurus-com-id .css-1ub1kdm {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-1ub1kdm {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

#thesaurus-com-id .css-lu0o74:not(:last-of-type) {
	margin-bottom: 12px;
	margin-right: 0;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-lu0o74:not(:last-of-type) {
		margin-bottom: 0;
		margin-right: 12px;
	}
}

#thesaurus-com-id .css-1xot0vh {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	-webkit-text-decoration: none;
	text-decoration: none;
	border-radius: 100px;
	font-size: 24px;
	font-weight: normal;
	line-height: 1;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	position: relative;
	border: 2px solid #F44725;
	color: #1A1A1A;
	padding: calc(14px) calc(38px);
	border-style: dashed;
}

#thesaurus-com-id .css-1xot0vh:before {
	border: 4px solid #0046BE;
	border-radius: 100px;
	bottom: -8px;
	content: ' ';
	left: -8px;
	opacity: 0;
	position: absolute;
	right: -8px;
	top: -8px;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

#thesaurus-com-id .css-1xot0vh:focus {
	outline: none;
}

#thesaurus-com-id .css-1xot0vh:focus:not(:hover):not(:active):not([disabled]):before {
	opacity: 1;
}

#thesaurus-com-id .css-1xot0vh:hover:not([disabled]) {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

#thesaurus-com-id .css-1xot0vh:active:not([disabled]) {
	border-color: #F44725;
	color: #F44725;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#thesaurus-com-id .css-1xot0vh[disabled] {
	border-color: #E1E1E1;
	color: #767676;
	cursor: not-allowed;
}

#thesaurus-com-id .css-1xot0vh[loading] {
	color: #FFFFFF;
}

#thesaurus-com-id .css-11vdbwg {
	color: #767676;
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 12px;
}

#thesaurus-com-id .css-n5ucmz {
	color: #4A4A4A;
	display: inline-block;
	font-size: 40px;
	font-weight: bold;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	line-height: 56px;
	margin: 0 15px 8px 0;
	word-break: break-all;
	word-wrap: break-word;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-n5ucmz {
		font-size: 50px;
	}
}

#thesaurus-com-id .css-tdvcnh {
	color: inherit;
	-webkit-text-decoration: none;
	text-decoration: none;
}

#thesaurus-com-id .css-1olfq8j {
	color: #4A4A4A;
	font-size: 16px;
	margin-bottom: 16px;
}

@media (max-width: 600px) {
	#thesaurus-com-id .css-1olfq8j {
		display: block;
	}
}

#thesaurus-com-id .css-1g6f0mt {
	color: #767676;
	font-style: italic;
	margin-right: 5px;
}

#thesaurus-com-id .css-gx0lhm {
	margin-bottom: 0;
}

#thesaurus-com-id .css-vdog0a {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	-webkit-text-decoration: none;
	text-decoration: none;
	border-radius: 100px;
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	text-align: left;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	position: relative;
	background-color: #FFFFFF;
	color: #1A1A1A;
	padding: 8px 16px;
}

#thesaurus-com-id .css-vdog0a:before {
	border: 4px solid #0046BE;
	border-radius: 100px;
	bottom: -8px;
	content: ' ';
	left: -8px;
	opacity: 0;
	position: absolute;
	right: -8px;
	top: -8px;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

#thesaurus-com-id .css-vdog0a:focus {
	outline: none;
}

#thesaurus-com-id .css-vdog0a:focus:not(:hover):not(:active):not([disabled]):before {
	opacity: 1;
}

#thesaurus-com-id .css-vdog0a:hover:not([disabled]) {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

#thesaurus-com-id .css-vdog0a:active:not([disabled]) {
	background-color: #FFFFFF;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#thesaurus-com-id .css-vdog0a[disabled] {
	background-color: #E1E1E1;
	color: #767676;
	cursor: not-allowed;
}

#thesaurus-com-id .css-vdog0a[loading] {
	color: #E1E1E1;
}

#thesaurus-com-id .css-yjy7kb {
	margin: 0 auto;
	min-height: 250px;
	text-align: center;
}

#thesaurus-com-id .css-14shus2 {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	list-style-type: none;
	width: 100%;
	word-wrap: break-word;
}

@media (min-width: 1200px) {
	#thesaurus-com-id .css-14shus2 {
		grid-template-rows: repeat(3, auto);
	}
}

@media (max-width: 1200px) and (min-width: 1024px) {
	#thesaurus-com-id .css-14shus2 {
		grid-template-rows: repeat(3, auto);
	}
}

@media (max-width: 1024px) and (min-width: 480px) {
	#thesaurus-com-id .css-14shus2 {
		grid-template-rows: repeat(4, auto);
	}
}

@media (max-width: 480px) {
	#thesaurus-com-id .css-14shus2 {
		grid-template-rows: repeat(5, auto);
	}
}

#thesaurus-com-id .css-mxd2oe {
	color: #4A4A4A;
	position: relative;
	top: -12px;
}

#thesaurus-com-id .css-13d26ye {
	border-bottom: 1px solid #E1E1E1;
	border-top: 1px solid #E1E1E1;
	color: #767676;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-weight: bold;
	padding: 18px 0 10px;
}

#thesaurus-com-id .css-bz6sby .rc-pagination {
	font-size: 12px;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#thesaurus-com-id .css-bz6sby .rc-pagination > li {
	list-style: none;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-total-text {
	float: left;
	height: 30px;
	line-height: 30px;
	list-style: none;
	margin: 0 8px 0 0;
	padding: 0;
}

#thesaurus-com-id .css-bz6sby .rc-pagination::after {
	clear: both;
	content: ' ';
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-item {
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
	cursor: pointer;
	float: left;
	height: 28px;
	line-height: 28px;
	list-style: none;
	margin-right: 8px;
	min-width: 28px;
	text-align: center;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-item a {
	color: #1A1A1A;
	-webkit-text-decoration: none;
	text-decoration: none;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-item-active {
	background-color: #2db7f5;
	border-color: #2db7f5;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-item-active a {
	color: #fff;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-item:hover {
	border-color: #2db7f5;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-jump-prev::after,
#thesaurus-com-id .css-bz6sby .rc-pagination-jump-next::after {
	bottom: 0;
	color: #ccc;
	content: '•••';
	display: block;
	font-size: 12px;
	left: 0;
	letter-spacing: 2px;
	margin-top: 1px;
	position: absolute;
	right: 0;
	top: 0;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-jump-prev:hover::after,
#thesaurus-com-id .css-bz6sby .rc-pagination-jump-next:hover::after {
	color: #2db7f5;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-jump-prev:hover::after {
	content: '«';
}

#thesaurus-com-id .css-bz6sby .rc-pagination-jump-next:hover::after {
	content: '»';
}

#thesaurus-com-id .css-bz6sby .rc-pagination-prev,
#thesaurus-com-id .css-bz6sby .rc-pagination-jump-prev,
#thesaurus-com-id .css-bz6sby .rc-pagination-jump-next {
	margin-right: 8px;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-prev,
#thesaurus-com-id .css-bz6sby .rc-pagination-next,
#thesaurus-com-id .css-bz6sby .rc-pagination-jump-prev,
#thesaurus-com-id .css-bz6sby .rc-pagination-jump-next {
	border-radius: 6px;
	color: #1A1A1A;
	cursor: pointer;
	float: left;
	font-size: 10px;
	height: 28px;
	line-height: 28px;
	list-style: none;
	min-width: 28px;
	text-align: center;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-prev,
#thesaurus-com-id .css-bz6sby .rc-pagination-next {
	border: 1px solid #d9d9d9;
	font-size: 18px;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-prev a,
#thesaurus-com-id .css-bz6sby .rc-pagination-next a {
	color: #1A1A1A;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-disabled a {
	color: #ccc;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-item:hover a {
	color: #2db7f5;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-item-active:hover a {
	color: #fff;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-prev a::after {
	content: '‹';
	display: block;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-next a::after {
	content: '›';
	display: block;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-prev a::after,
#thesaurus-com-id .css-bz6sby .rc-pagination-next a::after {
	margin-top: -1px;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-disabled {
	cursor: not-allowed;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-options {
	float: left;
	margin-left: 15px;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-options-size-changer {
	float: left;
	width: 80px;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-options-quick-jumper {
	float: left;
	height: 28px;
	line-height: 28px;
	margin-left: 16px;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-options-quick-jumper input {
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
	box-sizing: border-box;
	height: 28px;
	margin: 0 8px;
	outline: none;
	padding: 3px 12px;
	width: 50px;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-options-quick-jumper input:hover {
	border-color: #2db7f5;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-options-quick-jumper button {
	background-color: #fff;
	background-image: none;
	border: 1px solid transparent;
	border-color: #d9d9d9;
	border-radius: 6px;
	color: rgba(0, 0, 0, 0.65);
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	height: 28px;
	margin: 0 8px;
	padding: 0 15px;
	position: relative;
	text-align: center;
	touch-action: manipulation;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-options-quick-jumper button:hover,
#thesaurus-com-id .css-bz6sby .rc-pagination-options-quick-jumper button:active,
#thesaurus-com-id .css-bz6sby .rc-pagination-options-quick-jumper button:focus {
	background-color: #fff;
	border-color: #2db7f5;
	color: #2db7f5;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-simple .rc-pagination-prev,
#thesaurus-com-id .css-bz6sby .rc-pagination-simple .rc-pagination-next {
	border: none;
	font-size: 18px;
	height: 24px;
	line-height: 24px;
	margin: 0;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-simple .rc-pagination-simple-pager {
	float: left;
	list-style: none;
	margin-right: 8px;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-simple .rc-pagination-simple-pager .rc-pagination-slash {
	margin: 0 10px;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-simple .rc-pagination-simple-pager input {
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
	box-sizing: border-box;
	margin: 0 8px;
	min-height: 20px;
	outline: none;
	padding: 5px 8px;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-simple .rc-pagination-simple-pager input:hover {
	border-color: #2db7f5;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-simple .rc-pagination-simple-pager button {
	background-color: #fff;
	background-image: none;
	border: 1px solid transparent;
	border-color: #d9d9d9;
	border-radius: 6px;
	color: rgba(0, 0, 0, 0.65);
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	height: 26px;
	margin: 0 8px;
	padding: 0 8px;
	position: relative;
	text-align: center;
	touch-action: manipulation;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-simple .rc-pagination-simple-pager button:hover,
#thesaurus-com-id .css-bz6sby .rc-pagination-simple .rc-pagination-simple-pager button:active,
#thesaurus-com-id .css-bz6sby .rc-pagination-simple .rc-pagination-simple-pager button:focus {
	background-color: #fff;
	border-color: #2db7f5;
	color: #2db7f5;
}

@media only screen and (max-width: 1024px) {
	#thesaurus-com-id .css-bz6sby .rc-pagination-item-after-jump-prev,
  #thesaurus-com-id .css-bz6sby .rc-pagination-item-before-jump-next {
		display: none;
	}
}

#thesaurus-com-id .css-bz6sby .rc-pagination {
	margin: 0 auto;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-next a::after,
#thesaurus-com-id .css-bz6sby .rc-pagination-prev a::after {
	content: '' !important;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-next a::after li:focus,
#thesaurus-com-id .css-bz6sby .rc-pagination-prev a::after li:focus {
	outline: none;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-item-link {
	border-width: 0;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-item {
	border-radius: 0;
	border: none;
	-webkit-text-decoration: none;
	text-decoration: none;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-item:hover a {
	color: inherit;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-item:hover {
	border-color: inherit;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-item-active {
	background-color: inherit;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-item-active a {
	color: inherit;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-prev,
#thesaurus-com-id .css-bz6sby .rc-pagination-next {
	margin: 0 10px;
	font-size: 14px;
	font-family: inherit;
	font-weight: normal;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-prev,
#thesaurus-com-id .css-bz6sby .rc-pagination-next,
#thesaurus-com-id .css-bz6sby .rc-pagination-jump-prev,
#thesaurus-com-id .css-bz6sby .rc-pagination-jump-next {
	border: 0;
	-webkit-text-decoration: none;
	text-decoration: none;
	color: #333;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-jump-prev,
#thesaurus-com-id .css-bz6sby .rc-pagination-jump-next {
	position: relative;
}

#thesaurus-com-id .css-bz6sby .rc-pagination-jump-prev:hover::after,
#thesaurus-com-id .css-bz6sby .rc-pagination-jump-next:hover::after {
	color: inherit;
	content: '•••';
}

#thesaurus-com-id .css-54rqc5 {
	color: #767676;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-text-decoration: none;
	text-decoration: none;
}

#thesaurus-com-id .css-13nys0c {
	background-color: #F44725;
	color: #1A1A1A;
}

#thesaurus-com-id .css-1bkt2jy {
	color: #FFFFFF;
	text-align: center;
	width: 100%;
}

#thesaurus-com-id .css-9s62rd {
	background-color: #E1E1E1;
	color: #1A1A1A;
}

#thesaurus-com-id .css-17ux1r6 {
	color: #FFFFFF;
	color: #767676;
	text-align: center;
	width: 100%;
}

#thesaurus-com-id .css-1rqxiup {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin-top: 24px;
	padding-bottom: 24px;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-1rqxiup {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

@media (min-width: 1024px) {
	#thesaurus-com-id .css-1rqxiup {
		margin-left: auto;
		margin-right: auto;
		margin-top: 32px;
	}
}

#thesaurus-com-id .css-1wylvvp {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	padding-bottom: 32px;
}

#thesaurus-com-id .css-1wylvvp .wotd-container {
	width: auto;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-1wylvvp {
		margin-right: 24px;
		padding-bottom: 0;
	}
}

#thesaurus-com-id .css-10hw1dc {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	max-width: 400px;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-10hw1dc {
		margin-left: 24px;
	}
}

#thesaurus-com-id html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

#thesaurus-com-id body {
	margin: 0;
}

#thesaurus-com-id main {
	display: block;
}

#thesaurus-com-id h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

#thesaurus-com-id hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

#thesaurus-com-id pre {
	font-family: monospace,monospace;
	font-size: 1em;
}

#thesaurus-com-id a {
	background-color: transparent;
}

#thesaurus-com-id abbr[title] {
	border-bottom: none;
	-webkit-text-decoration: underline;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

#thesaurus-com-id b,
#thesaurus-com-id strong {
	font-weight: bolder;
}

#thesaurus-com-id code,
#thesaurus-com-id kbd,
#thesaurus-com-id samp {
	font-family: monospace,monospace;
	font-size: 1em;
}

#thesaurus-com-id small {
	font-size: 80%;
}

#thesaurus-com-id sub,
#thesaurus-com-id sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

#thesaurus-com-id sub {
	bottom: -0.25em;
}

#thesaurus-com-id sup {
	top: -0.5em;
}

#thesaurus-com-id img {
	border-style: none;
}

#thesaurus-com-id button,
#thesaurus-com-id input,
#thesaurus-com-id optgroup,
#thesaurus-com-id select,
#thesaurus-com-id textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

#thesaurus-com-id button,
#thesaurus-com-id input {
	overflow: visible;
}

#thesaurus-com-id button,
#thesaurus-com-id select {
	text-transform: none;
}

#thesaurus-com-id button,
#thesaurus-com-id [type="button"],
#thesaurus-com-id [type="reset"],
#thesaurus-com-id [type="submit"] {
	-webkit-appearance: button;
}

#thesaurus-com-id button::-moz-focus-inner,
#thesaurus-com-id [type="button"]::-moz-focus-inner,
#thesaurus-com-id [type="reset"]::-moz-focus-inner,
#thesaurus-com-id [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

#thesaurus-com-id button:-moz-focusring,
#thesaurus-com-id [type="button"]:-moz-focusring,
#thesaurus-com-id [type="reset"]:-moz-focusring,
#thesaurus-com-id [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

#thesaurus-com-id fieldset {
	padding: 0.35em 0.75em 0.625em;
}

#thesaurus-com-id legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

#thesaurus-com-id progress {
	vertical-align: baseline;
}

#thesaurus-com-id textarea {
	overflow: auto;
}

#thesaurus-com-id [type="checkbox"],
#thesaurus-com-id [type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

#thesaurus-com-id [type="number"]::-webkit-inner-spin-button,
#thesaurus-com-id [type="number"]::-webkit-outer-spin-button {
	height: auto;
}

#thesaurus-com-id [type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

#thesaurus-com-id [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

#thesaurus-com-id ::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

#thesaurus-com-id details {
	display: block;
}

#thesaurus-com-id summary {
	display: -webkit-box;
	display: -webkit-list-item;
	display: -ms-list-itembox;
	display: list-item;
}

#thesaurus-com-id template {
	display: none;
}

#thesaurus-com-id [hidden] {
	display: none;
}

#thesaurus-com-id * {
	box-sizing: border-box;
}

@font-face {
	font-display: swap;
  font-family: 'dictionary-fonticon';
  src: url(https://www.thesaurus.com/assets/dictionary-font-a4de9d4a2fc88f93e24508a3c8bd5d2d.eot) format('embedded-opentype'), url(fonts/dictionary-font-83b17ba5505b01708ba42e437547e028.woff) format('woff'), url(https://www.thesaurus.com/assets/dictionary-font-74304d1a3c294437e99d6cea234fd8d5.ttf) format('truetype'), url(https://www.thesaurus.com/assets/dictionary-font-7d27d95b4b21a148d0fee14ca67e620e.svg#dictionary-font) format('svg');
}

#thesaurus-com-id ul,
#thesaurus-com-id ol,
#thesaurus-com-id dl {
	margin: 0 auto;
	padding: 0;
}

#thesaurus-com-id .italic {
	font-style: italic;
}

#thesaurus-com-id .bold {
	font-weight: bolder;
}

#thesaurus-com-id .superscript {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

#thesaurus-com-id .superscript {
	top: -0.5em;
}

#thesaurus-com-id .small-caps {
	font-variant: small-caps;
}

#thesaurus-com-id button,
#thesaurus-com-id input,
#thesaurus-com-id optgroup,
#thesaurus-com-id select,
#thesaurus-com-id textarea {
	font-family: inherit;
}

#thesaurus-com-id body {
	font: 14px Arial, sans-serif;
	height: 100%;
	margin: 0;
}

#thesaurus-com-id .css-18rq8yn {
	-webkit-align-items: flex-start;
	-webkit-box-align: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	min-height: 90px;
}

#thesaurus-com-id .css-1ha4k0a {
	background-color: #E1E1E1;
	display: inline-block;
	line-height: 17px;
	margin: 0 4px 0 0;
	position: relative;
}

@media (max-width: 500px) {
	#thesaurus-com-id .css-1ha4k0a {
		margin: 0 8px 0 0;
	}
}

#thesaurus-com-id .css-1ha4k0a::before {
	content: '';
	height: 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 0;
}

#thesaurus-com-id .css-1ry05wc {
	color: #767676;
	cursor: pointer;
	display: inline-block;
	padding: 7px 10px 6px 16px;
	-webkit-text-decoration: none;
	text-decoration: none;
}

#thesaurus-com-id .css-1ry05wc:hover strong {
	color: #4A4A4A;
}

#thesaurus-com-id .css-1f3egm3 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

#thesaurus-com-id .css-12595yo {
	margin-bottom: 0px;
}

#thesaurus-com-id .css-110h13k {
	color: #4A4A4A;
	font-size: 12px;
}

#thesaurus-com-id .css-110h13k::before {
	background-color: #F44725;
	border-radius: 100px;
	content: '';
	display: inline-block;
	height: 10px;
	margin-right: 8px;
	width: 10px;
}

#thesaurus-com-id .css-1gyuw4i {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	-webkit-text-decoration: none;
	text-decoration: none;
	border-radius: 100px;
	font-size: 16px;
	font-weight: inherit;
	line-height: 1;
	text-align: left;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	position: relative;
	background-color: #FF9100;
	color: #1A1A1A;
	padding: 8px 16px;
}

#thesaurus-com-id .css-1gyuw4i:before {
	border: 4px solid #0046BE;
	border-radius: 100px;
	bottom: -8px;
	content: ' ';
	left: -8px;
	opacity: 0;
	position: absolute;
	right: -8px;
	top: -8px;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

#thesaurus-com-id .css-1gyuw4i:focus {
	outline: none;
}

#thesaurus-com-id .css-1gyuw4i:focus:not(:hover):not(:active):not([disabled]):before {
	opacity: 1;
}

#thesaurus-com-id .css-1gyuw4i:hover:not([disabled]) {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

#thesaurus-com-id .css-1gyuw4i:active:not([disabled]) {
	background-color: #FF9100;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#thesaurus-com-id .css-1gyuw4i[disabled] {
	background-color: #E1E1E1;
	color: #767676;
	cursor: not-allowed;
}

#thesaurus-com-id .css-1gyuw4i[loading] {
	color: #E1E1E1;
}

#thesaurus-com-id .css-zjik7 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

#thesaurus-com-id .css-ppj979 {
	border: none;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-bottom: 8px;
	max-height: 32px;
}

@media (min-width: 480px) {
	#thesaurus-com-id .css-ppj979 {
		margin-bottom: 0;
		margin-right: 12px;
	}
}

#thesaurus-com-id .css-6uz9mh {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	list-style-type: none;
	width: 100%;
	word-wrap: break-word;
}

@media (min-width: 1200px) {
	#thesaurus-com-id .css-6uz9mh {
		grid-template-rows: repeat(3, auto);
	}
}

@media (max-width: 1200px) and (min-width: 1024px) {
	#thesaurus-com-id .css-6uz9mh {
		grid-template-rows: repeat(3, auto);
	}
}

@media (max-width: 1024px) and (min-width: 480px) {
	#thesaurus-com-id .css-6uz9mh {
		grid-template-rows: repeat(3, auto);
	}
}

@media (max-width: 480px) {
	#thesaurus-com-id .css-6uz9mh {
		grid-template-rows: repeat(5, auto);
	}
}

#thesaurus-com-id .css-1l7o0dd {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	list-style-type: none;
	width: 100%;
	word-wrap: break-word;
}

@media (min-width: 1200px) {
	#thesaurus-com-id .css-1l7o0dd {
		grid-template-rows: repeat(3, auto);
	}
}

@media (max-width: 1200px) and (min-width: 1024px) {
	#thesaurus-com-id .css-1l7o0dd {
		grid-template-rows: repeat(3, auto);
	}
}

@media (max-width: 1024px) and (min-width: 480px) {
	#thesaurus-com-id .css-1l7o0dd {
		grid-template-rows: repeat(4, auto);
	}
}

@media (max-width: 480px) {
	#thesaurus-com-id .css-1l7o0dd {
		grid-template-rows: repeat(6, auto);
	}
}

#thesaurus-com-id .css-cfdi2a {
	display: none;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-left: 20px;
	position: relative;
	width: 300px;
}

@media (min-width: 768px) {
	#thesaurus-com-id .css-cfdi2a {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}

@media (max-width: 768px) {
	#thesaurus-com-id .css-cfdi2a {
		margin: 20px auto auto auto;
		max-width: 300px;
	}
}

#thesaurus-com-id .css-c1zyw3 {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 850px;
	left: 0;
	margin-bottom: 0px;
	max-height: 850px;
	top: 0px;
	width: 100%;
}

#thesaurus-com-id .css-10qe74f {
	position: static;
	top: 120px;
}

#thesaurus-com-id .css-1oip6hk {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin: 20px 0;
	z-index: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

#thesaurus-com-id .css-3m45hw {
	-webkit-position: sticky;
	position: sticky;
	top: 120px;
}

#thesaurus-com-id .css-10yrvaw {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 500px;
	left: 0;
	margin-bottom: 0px;
	max-height: 500px;
	top: 0px;
	width: 100%;
}

#thesaurus-com-id .css-1n6g4vv {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	-webkit-text-decoration: none;
	text-decoration: none;
	border-radius: 100px;
	font-size: 16px;
	font-weight: inherit;
	line-height: 1;
	text-align: left;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	position: relative;
	background-color: #FFB600;
	color: #1A1A1A;
	padding: 8px 16px;
}

#thesaurus-com-id .css-1n6g4vv:before {
	border: 4px solid #0046BE;
	border-radius: 100px;
	bottom: -8px;
	content: ' ';
	left: -8px;
	opacity: 0;
	position: absolute;
	right: -8px;
	top: -8px;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

#thesaurus-com-id .css-1n6g4vv:focus {
	outline: none;
}

#thesaurus-com-id .css-1n6g4vv:focus:not(:hover):not(:active):not([disabled]):before {
	opacity: 1;
}

#thesaurus-com-id .css-1n6g4vv:hover:not([disabled]) {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

#thesaurus-com-id .css-1n6g4vv:active:not([disabled]) {
	background-color: #FFB600;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#thesaurus-com-id .css-1n6g4vv[disabled] {
	background-color: #E1E1E1;
	color: #767676;
	cursor: not-allowed;
}

#thesaurus-com-id .css-1n6g4vv[loading] {
	color: #E1E1E1;
}

#thesaurus-com-id .css-goody6 {
	color: #4A4A4A;
	font-size: 12px;
}

#thesaurus-com-id .css-goody6::before {
	background-color: #E1E1E1;
	border-radius: 100px;
	content: '';
	display: inline-block;
	height: 10px;
	margin-right: 8px;
	width: 10px;
}

#thesaurus-com-id .css-15bafsg {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	-webkit-text-decoration: none;
	text-decoration: none;
	border-radius: 100px;
	font-size: 16px;
	font-weight: inherit;
	line-height: 1;
	text-align: left;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	position: relative;
	background-color: #E1E1E1;
	color: #1A1A1A;
	padding: 8px 16px;
}

#thesaurus-com-id .css-15bafsg:before {
	border: 4px solid #0046BE;
	border-radius: 100px;
	bottom: -8px;
	content: ' ';
	left: -8px;
	opacity: 0;
	position: absolute;
	right: -8px;
	top: -8px;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

#thesaurus-com-id .css-15bafsg:focus {
	outline: none;
}

#thesaurus-com-id .css-15bafsg:focus:not(:hover):not(:active):not([disabled]):before {
	opacity: 1;
}

#thesaurus-com-id .css-15bafsg:hover:not([disabled]) {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

#thesaurus-com-id .css-15bafsg:active:not([disabled]) {
	background-color: #E1E1E1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#thesaurus-com-id .css-15bafsg[disabled] {
	background-color: #E1E1E1;
	color: #767676;
	cursor: not-allowed;
}

#thesaurus-com-id .css-15bafsg[loading] {
	color: #E1E1E1;
}

#thesaurus-com-id .css-pc0050 {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	-webkit-text-decoration: none;
	text-decoration: none;
	border-radius: 100px;
	font-size: 16px;
	font-weight: inherit;
	line-height: 1;
	text-align: left;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	position: relative;
	background-color: #F3F3F3;
	color: #1A1A1A;
	padding: 8px 16px;
}

#thesaurus-com-id .css-pc0050:before {
	border: 4px solid #0046BE;
	border-radius: 100px;
	bottom: -8px;
	content: ' ';
	left: -8px;
	opacity: 0;
	position: absolute;
	right: -8px;
	top: -8px;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

#thesaurus-com-id .css-pc0050:focus {
	outline: none;
}

#thesaurus-com-id .css-pc0050:focus:not(:hover):not(:active):not([disabled]):before {
	opacity: 1;
}

#thesaurus-com-id .css-pc0050:hover:not([disabled]) {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

#thesaurus-com-id .css-pc0050:active:not([disabled]) {
	background-color: #F3F3F3;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#thesaurus-com-id .css-pc0050[disabled] {
	background-color: #E1E1E1;
	color: #767676;
	cursor: not-allowed;
}

#thesaurus-com-id .css-pc0050[loading] {
	color: #E1E1E1;
}

#thesaurus-com-id .css-1s17cgt {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	list-style-type: none;
	width: 100%;
	word-wrap: break-word;
}

@media (min-width: 1200px) {
	#thesaurus-com-id .css-1s17cgt {
		grid-template-rows: repeat(3, auto);
	}
}

@media (max-width: 1200px) and (min-width: 1024px) {
	#thesaurus-com-id .css-1s17cgt {
		grid-template-rows: repeat(4, auto);
	}
}

@media (max-width: 1024px) and (min-width: 480px) {
	#thesaurus-com-id .css-1s17cgt {
		grid-template-rows: repeat(5, auto);
	}
}

@media (max-width: 480px) {
	#thesaurus-com-id .css-1s17cgt {
		grid-template-rows: repeat(7, auto);
	}
}

#thesaurus-com-id .css-15rq25k {
	color: #767676;
	font-size: 16px;
	font-weight: unset;
	margin: 40px 0 8px;
}

#thesaurus-com-id .css-1yzg2uj {
	margin-bottom: 16px;
}

@media (min-width: 480px) {
	#thesaurus-com-id .css-1yzg2uj {
		margin-bottom: 24px;
	}
}

#thesaurus-com-id .css-1nhhlea {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media (min-width: 480px) {
	#thesaurus-com-id .css-1nhhlea {
		-webkit-flex-direction: unset;
		-ms-flex-direction: unset;
		flex-direction: unset;
	}

	#thesaurus-com-id .css-1nhhlea:last-child {
		-webkit-align-self: flex-end;
		-ms-flex-item-align: flex-end;
		align-self: flex-end;
	}
}

#thesaurus-com-id .css-1rgwdrh {
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	min-height: 50px;
	overflow: hidden;
	position: relative;
	-webkit-text-decoration: none;
	text-decoration: none;
}

#thesaurus-com-id .css-1rgwdrh:first-of-type {
	margin-bottom: 16px;
}

@media (min-width: 480px) {
	#thesaurus-com-id .css-1rgwdrh {
		-webkit-flex-basis: 0;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
	}

	#thesaurus-com-id .css-1rgwdrh:first-of-type {
		margin-bottom: unset;
		margin-right: 24px;
	}
}

#thesaurus-com-id .css-327myh {
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

#thesaurus-com-id .css-hcj9jx {
	color: #4A4A4A;
	font-weight: bold;
	margin-bottom: 8px;
}

#thesaurus-com-id .css-1dpa6nd {
	color: #B6B6B6;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-bottom: 8px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
}

#thesaurus-com-id .css-taknbf {
	background: linear-gradient(rgba(255, 255, 255, 0), white);
	height: 50%;
	position: absolute;
	top: 50%;
	width: 100%;
}

#thesaurus-com-id .css-qxtj3j {
	-webkit-align-self: flex-start;
	-ms-flex-item-align: flex-start;
	align-self: flex-start;
	color: #00248B;
	font-size: 14px;
}

#thesaurus-com-id .css-j2heoz {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	list-style-type: none;
	width: 100%;
	word-wrap: break-word;
}

@media (min-width: 1200px) {
	#thesaurus-com-id .css-j2heoz {
		grid-template-rows: repeat(8, auto);
	}
}

@media (max-width: 1200px) and (min-width: 1024px) {
	#thesaurus-com-id .css-j2heoz {
		grid-template-rows: repeat(8, auto);
	}
}

@media (max-width: 1024px) and (min-width: 480px) {
	#thesaurus-com-id .css-j2heoz {
		grid-template-rows: repeat(11, auto);
	}
}

@media (max-width: 480px) {
	#thesaurus-com-id .css-j2heoz {
		grid-template-rows: repeat(16, auto);
	}
}

#thesaurus-com-id .css-195h0zx {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	border-radius: 100px;
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	text-align: left;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	position: relative;
	background-color: #FFFFFF;
	color: #1A1A1A;
	padding: 8px 16px;
}

#thesaurus-com-id .css-195h0zx:before {
	border: 4px solid #0046BE;
	border-radius: 100px;
	bottom: -8px;
	content: ' ';
	left: -8px;
	opacity: 0;
	position: absolute;
	right: -8px;
	top: -8px;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

#thesaurus-com-id .css-195h0zx:focus {
	outline: none;
}

#thesaurus-com-id .css-195h0zx:focus:not(:hover):not(:active):not([disabled]):before {
	opacity: 1;
}

#thesaurus-com-id .css-195h0zx:hover:not([disabled]) {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

#thesaurus-com-id .css-195h0zx:active:not([disabled]) {
	background-color: #FFFFFF;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#thesaurus-com-id .css-195h0zx[disabled] {
	background-color: #E1E1E1;
	color: #767676;
	cursor: not-allowed;
}

#thesaurus-com-id .css-195h0zx[loading] {
	color: #E1E1E1;
}

#thesaurus-com-id .css-93ovpr {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	list-style-type: none;
	width: 100%;
	word-wrap: break-word;
}

@media (min-width: 1200px) {
	#thesaurus-com-id .css-93ovpr {
		grid-template-rows: repeat(13, auto);
	}
}

@media (max-width: 1200px) and (min-width: 1024px) {
	#thesaurus-com-id .css-93ovpr {
		grid-template-rows: repeat(13, auto);
	}
}

@media (max-width: 1024px) and (min-width: 480px) {
	#thesaurus-com-id .css-93ovpr {
		grid-template-rows: repeat(18, auto);
	}
}

@media (max-width: 480px) {
	#thesaurus-com-id .css-93ovpr {
		grid-template-rows: repeat(26, auto);
	}
}
